input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 1.5rem;
    resize: vertical;
  }
  
  fieldset {
      border: none;
  }

  form {
      letter-spacing: 1px;
      margin: 0 auto;
      width: 50%;
  }

  .form-container {
      margin-top: 2rem;
  }

  textarea {
    font-family: 'Work Sans', sans-serif;
      min-height: 200px;
  }

  .button-wrapper {
      margin-top: 1rem;
  }

  .register {
    background-color: #B200B2;
    color: white;
    font-size: 18px;
    letter-spacing: 2.5px;
    padding: 25px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    transition: .5s;
  }

  .register:hover {
    background-color: #F205CB;
  }

  @media (max-width: 1280px) {
    form {
        width: 100%;
    }
  }
