.button-wrapper {
  margin-top: 1rem;
}

fieldset {
  border: $--no-decor;
}

form {
  letter-spacing: 1px;
  margin: 0 auto;
  width: 50%;
}

.form-container {
  margin-top: 2rem;
}

input, 
select, 
textarea {
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  margin-top: 6px;
  padding: 12px;
  resize: vertical;
  width: $--full-size;
}

textarea {
  font-family: $--primary-font;
  min-height: 150px;
}

.register {
  background-color: get(primary-color);
  border: $--no-decor;
  color: get(asset-color);
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 2.5px;
  padding: 25px 20px;
  text-transform: uppercase;
  transition: .5s;
  width: $--full-size;
 }

.register:hover {
  background: get(tertiary-color);
}

@media (max-width: 1280px) {
  form {
    width: $--full-size;
  }
}
