.games {
    display: $--content-layout;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 2rem;
}

.game {
    background: rgba(48, 41, 94, 0.3);
    margin-bottom: 1.25rem;
    padding: 0 0 1rem;
    transition: .5s;
}

.game:hover {
    box-shadow: get(ui-color);
}

.game__col {
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: space-between;
}

.game__col-um {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 1rem 1rem;
} 

.category, 
.card__tag {
    background: get(primary-color);
    border: $--no-decor;
    box-shadow: get(ui-color);
    color: get(asset-color);
    font-family: $--primary-font;
    margin: 1.5rem 0rem 1rem;
    padding: .75rem 1.5rem;
    text-transform: uppercase;
}

.card__tag {
    display: inline-block;
    margin-top: 2.5rem;
}

.pricetag {
    font-size: 18px;
}

@media (max-width: 768px) {
    .games {
        grid-template-columns: 1fr;
    }
}
